# First step -install MongoDb

# let's install library

In [1]:
!pip3 install pymongo

Requirement already satisfied: pymongo in c:\users\yubar\anaconda3\lib\site-packages (4.15.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\yubar\anaconda3\lib\site-packages (from pymongo) (2.8.0)

In [2]:
import pymongo
from pymongo import MongoClient

In [4]:
# check library version
pymongo.__version__

'4.15.1'

In [7]:
# To work with date and time in Python we use the datetime library
import datetime

# Make connection

In [18]:
# We define Client Mongo to be able to connect to Mongo Database
client = MongoClient("localhost", 27017)

In [19]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

**Getting a Database:** Once you have a connected an instance of MongoClient, you can access any database managed by the specified MongoDB server. To define which database you want to use, you can use the dot notation.

In [20]:
db = client.post_database

# OR
db = client["post_database"]

db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'post_database')

In [ ]:
In this case, **new Collection** is an instance of Collection and represents a physical colleciton of documents in your database.

In [21]:
# collection is similar to table in relational databases

collection = db.posts_collection

#OR

collection = db['posts_collection']

collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'post_database'), 'posts_collection')

In [ ]:
**Sample Document** Following example shows the document structure of a blog site, which is simply a comma seperated key value pair.

In [22]:
# Creating a dictionary of data ("key": "value")

post = {"author": "Mike",
       "text": "My first blog post!",
       "tags": ["mongodb", "python", "pymongo"],
      "date": datetime.datetime.now(datetime.UTC)}
post

{'author': 'Mike',
 'text': 'My first blog post!',
 'tags': ['mongodb', 'python', 'pymongo'],
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734029, tzinfo=datetime.timezone.utc)}

You can add documents into the collection by calling ```.insert_one()``` on it with a document as an argument:

In [23]:
# Addinng one Document (row of data) to the Collection (table)

collection.insert_one(post)

InsertOneResult(ObjectId('68d3d4646d66beb99a764b2a'), acknowledged=True)

The ```pprint``` in Python provides a capability to "pretty-print" arbitrary Python data structures in a more readable, formatted manner compared to the built-in print() function. The name pprint stands for "pretty print."

In [24]:
# pprint library 

import pprint

# Lets compare print and pprint

print(collection.find_one())

print("---------------------------------------------------------------")

pprint.pprint(collection.find_one())

{'_id': ObjectId('68d3d4646d66beb99a764b2a'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000)}
---------------------------------------------------------------
{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

To retrieve a single document from a collection that matches a given query (specific criteria), we use ``find_one`` method. 
If multiple documents match the query, only the first one found (according to its natural order, which reflects the order of documents on the disk) will be returned.

In [25]:
# to show the first document in the collection
pprint.pprint(collection.find_one({}))

print("---------------------------------------------------------------")

# to show the first document in the collection that has author as a key and Mike as a value

pprint.pprint(collection.find_one({"author": "Mike"}))

print("---------------------------------------------------------------")

pprint.pprint(collection.find_one({"author": "ABC"}))

{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
None

## Inserting Many Documents

```insert_many()``` This method is used to insert multiple entries in a collection or the database in MongoDB. the parameter of this method is a list that contains dictionaries of the data that we want to insert in the collection.
This is faster and more straightforward than calling ```.insert_one()``` multiple times. The call to ```.insert_many()``` takes an iterable documents and insert them into the collection in your databse.

In [26]:
post_2 = {"author": "Yuba",
       "text": "I am your teacher!",
       "tags": ["analytics", "python", "bigdata"],
       "date": datetime.datetime.now(datetime.UTC)}

post_3 = {"author": "David",
       "text": "The best Uni!",
       "tags": ["test1", "test2", "test3"],
       "date": datetime.datetime.now(datetime.UTC)}

In [27]:
more_posts = collection.insert_many([post_2, post_3])

```.inserted_ids``` provides a way to quickly retrieve the IDs of the documents you've just added, especially useful when the database automatically assigns these IDs (using ObjectId).

In [28]:
more_posts.inserted_ids

[ObjectId('68d3d6d26d66beb99a764b2b'), ObjectId('68d3d6d26d66beb99a764b2c')]

This code iterates over the IDs of the recently inserted documents in the collection (obtained from `new_result.inserted_ids`). For each ID, it fetches and pretty-prints the corresponding document from the collection using the `find_one` method.

In [29]:
for i in more_posts.inserted_ids:
    pprint.pprint(collection.find_one({"_id": i}))

{'_id': ObjectId('68d3d6d26d66beb99a764b2b'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2c'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}

In [30]:
pprint.pprint(collection.find())
print("---------------------------------------------------------------")

# to show the first document in the collection
pprint.pprint(collection.find_one({}))
print("---------------------------------------------------------------")

# to show the first document in the collection that has author as a key and Mike as a value

pprint.pprint(collection.find_one({"author": "Mike"}))
print("---------------------------------------------------------------")

pprint.pprint(collection.find_one({"author": "Yuba"}))

<pymongo.synchronous.cursor.Cursor object at 0x000001FC1BEF16D0>
---------------------------------------------------------------
{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
{'_id': ObjectId('68d3d6d26d66beb99a764b2b'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}

In [48]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68d15369c43ec0f38970b2fc'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 22, 13, 45, 32, 519000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68d159ffc43ec0f38970b2fd'),
 'author': 'Atie',
 'date': datetime.datetime(2025, 9, 22, 14, 14, 27, 945000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d159ffc43ec0f38970b2fe'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 22, 14, 14, 27, 945000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68d15a67c43ec0f38970b2ff'),
 'author': 'Atie',
 'date': datetime.datetime(2025, 9, 22, 14, 17, 8, 970000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d15a67c43ec0f38970b300'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 22, 14, 17, 8, 970000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68d15ad2c43ec0f38970b301'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 9, 22, 14, 18, 56, 649000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d15ad2c43ec0f38970b302'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 22, 14, 18, 56, 649000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}

In [31]:
query_result = collection.find({"author": "Mike"})

In [32]:
pprint.pprint(query_result[0])

{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [33]:
for r in query_result:
    pprint.pprint(r)

{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

### Update

In [34]:
post_4 = {"author": "Mike",
       "text": "hahahahaha!",
       "tags": ["analytics", "python", "bigdata"],
       "date": datetime.datetime.now(datetime.UTC)}

In [35]:
post_5 = {"author": "David",
       "text": "hahaha jsshs sbgs sjshaha!",
       "tags": ["analytics", "python", "bigdata"],
       "date": datetime.datetime.now(datetime.UTC)}

In [36]:
#collection.insert_one(post_4)
collection.insert_one(post_5)

InsertOneResult(ObjectId('68d3d89b6d66beb99a764b2d'), acknowledged=True)

In [37]:
collection.update_one({"author": "Mike"}, {"$set": {"author": "Jack"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [38]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2b'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2c'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68d3d89b6d66beb99a764b2d'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 40, 8, 806000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'hahaha jsshs sbgs sjshaha!'}

In [58]:
collection.update_many({"author": "David"}, {"$set": {"author": "Jack"}})

UpdateResult({'n': 4, 'nModified': 4, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [39]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2b'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2c'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68d3d89b6d66beb99a764b2d'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 40, 8, 806000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'hahaha jsshs sbgs sjshaha!'}

In [ ]:
### Delete

In [40]:
collection.delete_one({"author": "Mike"})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

In [41]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68d3d4646d66beb99a764b2a'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 9, 24, 11, 21, 14, 734000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2b'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2c'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68d3d89b6d66beb99a764b2d'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 40, 8, 806000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'hahaha jsshs sbgs sjshaha!'}

In [42]:
collection.delete_many({"author": "Jack"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [43]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68d3d6d26d66beb99a764b2b'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68d3d6d26d66beb99a764b2c'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 32, 31, 407000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68d3d89b6d66beb99a764b2d'),
 'author': 'David',
 'date': datetime.datetime(2025, 9, 24, 11, 40, 8, 806000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'hahaha jsshs sbgs sjshaha!'}

In [14]:
# to delete a database you can use client.drop_database('database_name')

client.drop_database('post_database')

In [ ]:
# This is end of Lab 02