# Python MongoDB Atlas Tutorial using PyMongo

# Go to https://www.mongodb.com/ and create an account

# use free clusture from AWS(Make sure to only use free clusture)

# Create database on Atlas

# Now you've created database in collection.

# go back to Project 0 and connect

# select your driver(python and version)

# copy connection string

# install pymongo if you've not done so using pip install pymongo

In [31]:
import pymongo
from pymongo import MongoClient

In [32]:
# To work with date and time in Python we use the datetime library
import datetime

# Make connection

In [35]:
# We define Client Mongo to be able to connect to Mongo Database
client = MongoClient("mongodb+srv://yubarajkafle_db_user:1234@cluster0.pi1ajek.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

**Getting a Database:** Once you have a connected an instance of MongoClient, you can access any database managed by the specified MongoDB server. To define which database you want to use, you can use the dot notation.

In [36]:
db = client["lab03"]

Now choose a collection you are working with.  , **lab03** is an instance of Collection and represents a physical colleciton of documents in your database.

In [ ]:
collection = db['lab03']

**Sample Document** Following example shows the document structure of a blog site, which is simply a comma seperated key value pair.

In [ ]:
# Creating a dictionary of data ("key": "value")

post = {"author": "Mike",
       "text": "My first blog post!",
       "tags": ["mongodb", "python", "pymongo"],
      "date": datetime.datetime.now(datetime.UTC)}
post

You can add documents into the collection by calling .insert_one() on it with a document as an argument:

In [7]:
# Addinng one Document (row of data) to the Collection (table)

collection.insert_one(post)

InsertOneResult(ObjectId('68dd9be5b7d780a96cfd132f'), acknowledged=True)

The pprint in Python provides a capability to "pretty-print" arbitrary Python data structures in a more readable, formatted manner compared to the built-in print() function. The name pprint stands for "pretty print."

In [8]:
# pprint library 

import pprint

# Lets compare print and pprint

print(collection.find_one())

print("---------------------------------------------------------------")

pprint.pprint(collection.find_one())

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'), 'author': 'Mike', 'text': 'My first blog post!', 'tags': ['mongodb', 'python', 'pymongo'], 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000)}
---------------------------------------------------------------
{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

To retrieve a single document from a collection that matches a given query (specific criteria), we use find_one method. If multiple documents match the query, only the first one found (according to its natural order, which reflects the order of documents on the disk) will be returned.

In [9]:
# to show the first document in the collection
pprint.pprint(collection.find_one({}))

print("---------------------------------------------------------------")

# to show the first document in the collection that has author as a key and Mike as a value

pprint.pprint(collection.find_one({"author": "Mike"}))

print("---------------------------------------------------------------")

pprint.pprint(collection.find_one({"author": "ABC"}))

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
None

## Inserting Many Documents

```insert_many()``` This method is used to insert multiple entries in a collection or the database in MongoDB. the parameter of this method is a list that contains dictionaries of the data that we want to insert in the collection.
This is faster and more straightforward than calling ```.insert_one()``` multiple times. The call to ```.insert_many()``` takes an iterable documents and insert them into the collection in your databse.

In [10]:
post_2 = {"author": "Yuba",
       "text": "I am your teacher!",
       "tags": ["analytics", "python", "bigdata"],
       "date": datetime.datetime.now(datetime.UTC)}

post_3 = {"author": "David",
       "text": "The best Uni!",
       "tags": ["test1", "test2", "test3"],
       "date": datetime.datetime.now(datetime.UTC)}

In [11]:
more_posts = collection.insert_many([post_2, post_3])

```.inserted_ids``` provides a way to quickly retrieve the IDs of the documents you've just added, especially useful when the database automatically assigns these IDs (using ObjectId).

In [12]:
more_posts.inserted_ids

[ObjectId('68dd9bf3b7d780a96cfd1330'), ObjectId('68dd9bf3b7d780a96cfd1331')]

This code iterates over the IDs of the recently inserted documents in the collection (obtained from `new_result.inserted_ids`). For each ID, it fetches and pretty-prints the corresponding document from the collection using the `find_one` method.

In [13]:
for i in more_posts.inserted_ids:
    pprint.pprint(collection.find_one({"_id": i}))

{'_id': ObjectId('68dd9bf3b7d780a96cfd1330'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 360000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1331'),
 'author': 'David',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 361000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}

In [14]:
pprint.pprint(collection.find())
print("---------------------------------------------------------------")

# to show the first document in the collection
pprint.pprint(collection.find_one({}))
print("---------------------------------------------------------------")

# to show the first document in the collection that has author as a key and Mike as a value

pprint.pprint(collection.find_one({"author": "Mike"}))
print("---------------------------------------------------------------")

pprint.pprint(collection.find_one({"author": "Yuba"}))

<pymongo.synchronous.cursor.Cursor object at 0x0000015C715B6990>
---------------------------------------------------------------
{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
---------------------------------------------------------------
{'_id': ObjectId('68dd9bf3b7d780a96cfd1330'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 360000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}

In [15]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9be5b7d780a96cfd132f'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 10, 1, 21, 23, 46, 858000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1330'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 360000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1331'),
 'author': 'David',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 361000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}

In [16]:
query_result = collection.find({"author": "Mike"})

In [17]:
pprint.pprint(query_result[0])

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

In [18]:
for r in query_result:
    pprint.pprint(r)

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9be5b7d780a96cfd132f'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 10, 1, 21, 23, 46, 858000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

### Update

In [19]:
post_4 = {"author": "Mike",
       "text": "hahahahaha!",
       "tags": ["analytics", "python", "bigdata"],
       "date": datetime.datetime.now(datetime.UTC)}

In [20]:
post_5 = {"author": "David",
       "text": "hahaha jsshs sbgs sjshaha!",
       "tags": ["analytics", "python", "bigdata"],
       "date": datetime.datetime.now(datetime.UTC)}

In [21]:
#collection.insert_one(post_4)
collection.insert_one(post_5)

InsertOneResult(ObjectId('68dd9c17b7d780a96cfd1332'), acknowledged=True)

In [22]:
collection.update_one({"author": "Mike"}, {"$set": {"author": "Jack"}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000106'), 'opTime': {'ts': Timestamp(1759353882, 5), 't': 262}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1759353882, 5), 'signature': {'hash': b'\x0f\x8e\x92\xaf\xad\x14GJYF\xedl\xaa\xdd\xcaTl\xe3\xc0\xd8', 'keyId': 7494730730522542095}}, 'operationTime': Timestamp(1759353882, 5), 'updatedExisting': True}, acknowledged=True)

In [23]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9be5b7d780a96cfd132f'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 10, 1, 21, 23, 46, 858000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1330'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 360000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1331'),
 'author': 'David',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 361000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68dd9c17b7d780a96cfd1332'),
 'author': 'David',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 39, 409000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'hahaha jsshs sbgs sjshaha!'}

In [24]:
collection.update_many({"author": "David"}, {"$set": {"author": "Jack"}})

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff0000000000000106'), 'opTime': {'ts': Timestamp(1759353883, 2), 't': 262}, 'nModified': 2, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1759353883, 2), 'signature': {'hash': b'j\x98\x91\xf1lS\xd8\x83\xa5\xa8\xcez\xecgr\x04@\xc2\x9aH', 'keyId': 7494730730522542095}}, 'operationTime': Timestamp(1759353883, 2), 'updatedExisting': True}, acknowledged=True)

In [25]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9be5b7d780a96cfd132f'),
 'author': 'Mike',
 'date': datetime.datetime(2025, 10, 1, 21, 23, 46, 858000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1330'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 360000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1331'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 361000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68dd9c17b7d780a96cfd1332'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 39, 409000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'hahaha jsshs sbgs sjshaha!'}

### Delete

In [26]:
collection.delete_one({"author": "Mike"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000106'), 'opTime': {'ts': Timestamp(1759353884, 1), 't': 262}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1759353884, 1), 'signature': {'hash': b'\xa8\xd9\x1e\x9e\xc9F\xe3I\n\xc2EZw\xf5\xb7\x0c\xe1\xe8~\x92', 'keyId': 7494730730522542095}}, 'operationTime': Timestamp(1759353884, 1)}, acknowledged=True)

In [27]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68dc55fa0080e79c4512a2ca'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 9, 30, 22, 13, 11, 370000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1330'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 360000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}
{'_id': ObjectId('68dd9bf3b7d780a96cfd1331'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 361000),
 'tags': ['test1', 'test2', 'test3'],
 'text': 'The best Uni!'}
{'_id': ObjectId('68dd9c17b7d780a96cfd1332'),
 'author': 'Jack',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 39, 409000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'hahaha jsshs sbgs sjshaha!'}

In [28]:
collection.delete_many({"author": "Jack"})

DeleteResult({'n': 3, 'electionId': ObjectId('7fffffff0000000000000106'), 'opTime': {'ts': Timestamp(1759353884, 2), 't': 262}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1759353884, 2), 'signature': {'hash': b'\xa8\xd9\x1e\x9e\xc9F\xe3I\n\xc2EZw\xf5\xb7\x0c\xe1\xe8~\x92', 'keyId': 7494730730522542095}}, 'operationTime': Timestamp(1759353884, 2)}, acknowledged=True)

In [29]:
for r in collection.find({}):
    pprint.pprint(r)

{'_id': ObjectId('68dd9bf3b7d780a96cfd1330'),
 'author': 'Yuba',
 'date': datetime.datetime(2025, 10, 1, 21, 24, 2, 360000),
 'tags': ['analytics', 'python', 'bigdata'],
 'text': 'I am your teacher!'}

In [30]:
# to delete a database you can use client.drop_database('database_name')

client.drop_database('lab03')

# This is end of Lab 03